.tw-accountCard-container {
    background-color: #333;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 10px;
    height: auto;
    width: 19em;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.tw-accountCard-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}